/* style for uplload file */
.upload-zone { border: 3px dashed #DDD; background-color: #e6eaef; text-align: center;}
.upload-text {}

.upload-zone-sm { font-size: 14px; line-height: 16px; cursor: pointer}
.upload-zone-sm .upload-text { font-size: 12px; color: lightgrey; margin-top: 1px; margin-bottom: 1px;}
.upload-zone-sm img {    
    height: -moz-calc(100% + 4px); /* Firefox */   
    height: -webkit-calc(100% + 4px); /* WebKit */    
    height: -o-calc(100% + 4px); /* Opera */    
    height: calc(100% + 4px); /* Standard */
    width: -moz-calc(100% + 4px); /* Firefox */   
    width: -webkit-calc(100% + 4px); /* WebKit */    
    width: -o-calc(100% + 4px); /* Opera */    
    width: calc(100% + 4px); /* Standard */
    margin-top:-2px;
    margin-left: -2px;
}

.upload-zone-md { font-size: 26px;  cursor: pointer; vertical-align: middle}
.upload-zone-md .upload-text { font-size: 24px; line-height: 36px; color: lightgray; margin-top: 3px; margin-bottom: 3px; height:100%;}
.upload-zone-md img {
    height: -moz-calc(100% + 2px); /* Firefox */   
    height: -webkit-calc(100% + 2px); /* WebKit */    
    height: -o-calc(100% + 2px); /* Opera */    
    height: calc(100% + 2px); /* Standard */
    width: -moz-calc(100% + 2px); /* Firefox */   
    width: -webkit-calc(100% + 2px); /* WebKit */    
    width: -o-calc(100% + 2px); /* Opera */    
    width: calc(100% + 2px); /* Standard */
    margin-top:-1px;
    margin-left: -1px;
}

.upload-zone-lg { position: relative; margin: 20px 0; width:500px; left: 50%; margin-left: -250px; padding: 50px 20px 20px 20px; text-align: center; font-size: 16px; cursor: default}
.upload-zone-lg:before {    
    font-family: "Ionicons"; src: url("../bootstrap/fonts/ionicons.eot?v=2.0.0"); src: url("../bootstrap/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("../bootstrap/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("../bootstrap/fonts/ionicons.woff?v=2.0.0") format("woff"), url("../bootstrap/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg"); font-weight: normal; font-style: normal;
    font-size: 48pt;
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -32px;
    content: "\f255";
    width: 64px;
    height: 33px;    
    color: lightgrey;
}
.upload-zone-lg .upload-input { margin: 12px 0px 6px 0;  }
.upload-zone-lg .upload-text { font-size: 32px; color: lightgrey; margin-top: 24px; margin-bottom: 20px; }
.upload-zone-lg input[type="file"] {
    position: relative;
    left: 50%;  
    margin-left: -112px;
    margin-top: 6px;
    font-size: 16px;
    color: black;
    cursor: hand;
}

/* style for progress bar */
.outlineBar {                                   
    width: 100%;
    padding: 0px;
    font-size: 14px;
    line-height: 22px;
}

.progressBar {
    width: 100%;
    height: 22px;
    border:  1px solid gray;
    background-color: #ddd;
    border-radius: 3px;
    margin:0px;
    padding: 0px;
    vertical-align:top;   
    text-align: left;
    display:table-cell;
    position: relative;
}
 
.progressBar div { 
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 0;    
    background-color: #1E90FF;//#0ba1b5; 
    border-radius: 2px;
    margin: 0;
}

.progressBar span {    
    color: black;
    text-align: left;
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    width: 100%;
    border-radius: 2px;
    margin: 0;  
    padding: 0px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;      
    cursor: default;
    background-color: transparent;
    position:absolute;
    top:-1px;
}

.outlineBar .abort {
    height: 24px;
    width: 24px;
    display:table-cell;
}

.abort .ion {
    font-size: 16px;
}

.abort .btn, button{
    padding: 1px 5px;
}